@using System.Net.Http
@using Oqtane.Modules
@using Oqtane.Shared
@using Oqtane.Services
@using Oqtane.Models
@inherits ModuleBase
@inject IUriHelper UriHelper
@inject HttpClient http
@inject SiteState sitestate
@inject ISettingService SettingService

<table class="form-group">
    <tr>
        <td>
            <label for="Setting" class="control-label">Display Blogs: </label>
        </td>
        <td>
            <input type="text" class="form-control" @bind="maxblogs" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="Setting" class="control-label">Blog Summary Length: </label>
        </td>
        <td>
            <input type="text" class="form-control" @bind="summarylength" />
        </td>
    </tr>
</table>

@code {
    string maxblogs;
    string summarylength;

    protected override async Task OnInitializedAsync()
    {
        Dictionary<string, string> settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
        maxblogs = SettingService.GetSetting(settings, "MaxBogs", "10");
        summarylength = SettingService.GetSetting(settings, "SummaryLength", "100");
    }

    public async Task UpdateSettings()
    {
        Dictionary<string, string> settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
        SettingService.SetSetting(settings, "MaxBlogs", maxblogs);
        SettingService.SetSetting(settings, "SummaryLength", summarylength);
        await SettingService.UpdateModuleSettingsAsync(settings, ModuleState.ModuleId);
    }
}
